Binaries
DerivedDataCache
Intermediate
Saved
Content/Fab
Content/OldWest
Content/OldFurniturePack_01
Content/BuildingCollection
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace